.logoutID:hover{
    height: 20px;
    color:red;
}
.btnList:hover
{
    height: 50px;
    color:red;
}
.logoutID
{
    cursor:pointer;
    color:white;
    margin-right:10px;
    font-weight:bold;
    text-decoration:none;
    
}
.refresh:hover{
background-color: red;
width:40px;
height: 40px;
}